body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* Product */
#search-form {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 1%;
}

#search-input {
  margin: .5%;
  padding: 1.36%;
  border-radius: 5%;
}

/* Product */
#product-container {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 1%;
  /* border: 1px solid red; */
}

#product-image {
  width: 100%;
  display: block;
}

#product-container button {
  font-weight: bold;
  border: 2px solid #000;
  background: #fff;
  padding: 15px;
}